<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slideshow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="non-fullscreen">
    <div id="controls">
        <h1>Upload and Play Slideshow</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="photo">
            <input type="submit" value="Upload">
        </form>
        <button id="fullscreen-btn">Toggle Fullscreen</button>
    </div>
    <div id="slideshow">
        {% for photo in photos %}
            <div class="photo-container">
                <img src="{{ url_for('static', filename='uploads/' + photo) }}" class="slides">
                <form action="{{ url_for('delete_photo', filename=photo) }}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>
        {% endfor %}
    </div>
    <script>
        // Fullscreen functionality
        document.getElementById('fullscreen-btn').addEventListener('click', function() {
            const elem = document.documentElement;
            if (!document.fullscreenElement) {
                elem.requestFullscreen().catch(err => {
                    alert(`Error attempting to enable full-screen mode: ${err.message} (${err.name})`);
                });
                document.getElementById('controls').style.display = 'none';
            } else {
                document.exitFullscreen();
                document.getElementById('controls').style.display = 'block';
            }
        });

        // Handle exiting fullscreen mode to add class back
        document.addEventListener('fullscreenchange', function() {
            if (!document.fullscreenElement) {
                document.getElementById('controls').style.display = 'block';
                document.body.classList.add('non-fullscreen');
            } else {
                document.getElementById('controls').style.display = 'none';
                document.body.classList.remove('non-fullscreen');
            }
        });

        // Slideshow with fade-in and fade-out
        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let slides = document.getElementsByClassName("slides");
            for (let i = 0; i < slides.length; i++) {
                slides[i].style.opacity = "0";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            slides[slideIndex-1].style.opacity = "1";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
    </script>
</body>
</html>
